
ul.dropdown-menu.drp-mnu {
    right: 0;
    min-width: 130px;
    text-align: center;
    padding: 1.5em 0;
    margin: 0;
    left:auto;
}
ul.dropdown-menu.drp-mnu li:first-child{
	margin-bottom: .5em;
}
ul.dropdown-menu.drp-mnu li a {
    color: #999;
}
ul.dropdown-menu.drp-mnu li a i {
    padding-left: 1em;
}

.more a{
	padding:10px 30px;
	background:#84C639;
	font-size:14px;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
	color:#fff;
	position:relative;
	display:block;
}
.more {
    width: 20%;
    text-align: center;
    margin-left:59em;
}
.button--saqui {
	overflow: hidden;
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
	left: -300px;
    top: 35px;
    width: 450px;
    height: 50px;
    border-radius: 10px;
}
.button--saqui.button--inverted {
	background: #fff;
	color: #37474f;
}
.button--saqui.button--inverted {
	background: #fff;
	color: #37474f;
}
.button--saqui::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 9px 30px;
    color: #FFFFFF;
	-webkit-transform-origin: -25% 50%;
	transform-origin: -25% 50%;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transition: -webkit-transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
}
.button--saqui.button--inverted::after {
	color: #fff;
}
.button--saqui:hover::after,
.button--saqui:hover {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.button--saqui:hover {
	background-color: #FA1818;
	color: #656060;
}
.button--saqui.button--inverted:hover {
	background-color: #3f51b5;
	color: #3f51b5;
}
.button--saqui:hover::after {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
}
a {
    color: #337ab7;
    text-decoration: none;
}

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
